.headers{
  display: flex;
    /* padding-left: 15px; */
    /* padding-right: 15px; */
    width: 100%;
    border-bottom: 1px solid black;
}
.headerCell{
  display: flex;
  /* width: 30%; */
  display: flex;
  margin: 10px 0; 
  flex-grow: 1;
  -webkit-flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* padding-right: 20px; */
  width: 30.333%;
  font-weight: 800;
  text-decoration: underline;
}